<html>
  <head>
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>My site</title>
    {% endif %}
  </head>
  <body>
    <div>My site
      <a href="/">Home</a>
      <a href="/users">Users</a>
      <a href="/about">About</a>
      <a href="/login">Log In</a>
    </div>

    <hr>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
      {% for message in messages %}
      <li>{{ message }}</li>
      {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}

    <h1>{{ title }}</h1>
    {% block content %}{% endblock %}
  </body>
</html>